body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    width: 55rem;
    margin: auto;
}

h1 {
    padding-left: 1rem;
}

.emoji {
    display: flex;
    flex-direction: column;
    border: 1px solid #222;
    border-radius: 8px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
}

/* Setting height larger for lower two boxes to account for the larger text */
.emoji:nth-child(1), .emoji:nth-child(2) {
    height: 19rem;
}

.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    padding-top: 1rem;
}
  
.emoji a {
    display: flex;
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}
  
.icon {
    display: flex;
    order: -1;
    font-size: 4rem;
    padding-top: 1rem;
    justify-content: center;
}

.emojis {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

p {
    flex-grow: 2;
}